/vendor/
node_modules/

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.idea/
/storage/
/bootstrap/cache/
/public/js/
/public/css/
/public/build
.env.backup
.env.production
.phpactor.json
auth.json
